.resume-page {
    padding-left: 100px;
    padding-right: 50px;
    width: calc(100% - 150px);
    position: initial;
    height: 100%;
    overflow: auto;

    h1.resume-title {
        margin-left: 250px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .resume-title {
        position: fixed;
        text-align: center;
        font-size: 10px;
    }

    .resume-container {
        position: absolute;
        top: 40px;
        right: 40px;
        width: 50%;
        height: 50%;
    }
}