.resume-page {
    padding-left: 100px;
    padding-right: 50px;
    width: calc(100% - 150px);
    position: initial;
    height: 100%;
    overflow: auto;

    h1.resume-title {
        margin-left: 250px;
        margin-top: 50px;
    }
}